*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient( to right, rgb(21, 114, 97), rgb(38, 114, 38));
    
    animation-name: backColor;
    animation-duration: 18s;
    /* animation-timing-function: 2; */
    animation-timing-function:ease-in;
    animation-iteration-count: infinite;
    
}
.container{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    width: 40vh;
    height: 60vh;
    border-radius: 20px;
    box-shadow: -2px 4px 12px 5px rgb(34, 35, 35);
   
}
form{

    margin: 2rem 0 1rem 0;
}
 form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
 }

 form input{
    border: 1px solid lightgray;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    box-shadow:inset -1px 1px 4px 1px rgb(130, 137, 137);

 }
 .dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
 }

 .dropdown i{
    font-size: 1.5rem;
    margin-top: 1 rem;
 }
 .select-container img {
max-width: 2rem;
 }

 

 .select-container{
    display: flex;
 justify-content: center;
 align-items: center;
 width: 6rem;
 border-radius: 0.5rem;
 border: 1px solid rgb(202, 199, 199);
 box-shadow: -1px 1px 4px 1px rgb(130, 137, 137);

 }

 .select-container select{
    font-size: 1rem;
    width: auto;
 }

 .msg{
    margin:  2rem 0 2rem 0;

 }

 form button{
    background-color:#af4d98 ;
    height: 3rem;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    box-shadow: -2px 4px 8px 2px rgb(34, 35, 35);
    
 }

 @keyframes backColor{
    0%{
        background-image: linear-gradient( to right, rgb(114, 21, 21), rgb(114, 38, 89));
    }

    25%{
        background-image: linear-gradient( to right, rgb(57, 21, 114), rgb(104, 114, 38));

    }

    50%{
        background-image: linear-gradient( to right, rgb(94, 114, 21), rgb(38, 114, 110));

    }

    75%{
        background-image: linear-gradient( to right, rgb(114, 21, 47), rgb(114, 38, 101));

    }

    100%{
        background-image: linear-gradient( to right, rgb(92, 21, 114), rgb(38, 76, 114));

    }
 }

